<form action="formulaz/process" method="POST">
    <input type="hidden" name="hush" val="ukryte, lecz nie tajne!">
    <div>
        <label for="fieldColor">Ulubiony kolor: </label>
        <input type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button type="submit">Prześlij</button>
    </div>
</form>