<div id ="formFetchContainer">
<form  role="form" id="formFetch">
    {{!-- <input type="hidden" name="hush" val="ukryte, lecz nie tajne!"> --}}
    <div>
        <label for="fieldColor">Ulubiony kolor: </label>
        <input type="text" id="fieldColor" name="color">
    </div>
    <div>
        <button type="submit">Prześlij</button>
    </div>
</form>
</div>
<script>

const ffc = document.getElementById("formFetch");
ffc.addEventListener('submit', event => {
event.preventDefault();
//pobiez element na ktorym wystapilo zdarzenie event
const form = event.target;



const body = JSON.stringify({
       // _csrf: form.elements._csrf.value,
        color: form.elements.color.value,
      })

//console.log(event)
const headers = { 'Content-Type': 'application/json' };
const container = document.getElementById('formFetchContainer')
        fetch('/api/formFetch', { method: 'post', body, headers })
  .then((res) => res.json())
  
  .then(json => {
          container.innerHTML = '<b>Mail wyslany!</b>'
     //document.write( req.body.color)
        })
       
        .catch(err => {
          container.innerHTML = `<b>Przykro nam, wystąpił problem ` +
            `podczas wysylania. Spróbuj <a href="/formFetch">ponownie</a>`
        })

    })


</script>