<div id="formContainer">
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="myFile" />
    <button type="submit">Submit</button>
  </form>
</div>

<script>
  const formEvent = document.querySelector("form")
  formEvent.addEventListener('submit', event => { 
    event.preventDefault();
    const body = new FormData(event.target);
   console.log(body) 
  })

</script>