<h2>Przesylanie plikow json</h2>

<form id="form" nctype="multipart/form-data" method="POST" action="/foto">
  <input type="hidden" name="_csrf" value="{{csrf}}" />

  <input type="text" required accept="*" id="fieldJSON" name="nameJSON" />

  <button type="submit" >wyslij</button>

</form>

<output id="output"></output>